<div class="outer-home-container" class="overflow-hidden">
  <div class="container-fluid">
    <div class="row">
      <!-- <nz-collapse>
        <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active">
          <p>{{ panel.type }}</p>
          <div *ngIf="panel.childPanel && panel.childPanel.length > 0">
            <nz-collapse>         
              <nz-collapse-panel *ngFor="let childPanel of panel.childPanel" [nzHeader]="childPanel.name"
                [nzActive]="childPanel.active">
                
                <p>
                  A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a
                  welcome guest in many households across the world.
                </p>
                <p>{{childPanel.id}} {{childPanel.type}}</p>
              </nz-collapse-panel>
            </nz-collapse>
          </div>
        </nz-collapse-panel>
      </nz-collapse> -->
      <div class="d-block w-100">
        <!-- <mat-expansion-panel showToggle="true">
          <mat-expansion-panel-header>
            Outer Expansion panel
          </mat-expansion-panel-header>
          <app-menu-list-item *ngFor="let item of parentChildRelationship" [item]="item"></app-menu-list-item>
        </mat-expansion-panel> -->
        <app-nested-accordion [accordionData]="parentChildRelationship"></app-nested-accordion>
      </div>
  </div>

</div>